@import url(http://fonts.googleapis.com/css?family=Bevan|Roboto);

body {
  background: url("");
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
  margin: 2em;
}

a {
  color: rgb(34,124,238);
  text-decoration: none;
}

a:hover,
a:focus {
  color: rgb(215,83,46);
  -moz-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

h1, h2, h3, h4 {
  font-family: 'Bevan', cursive;
}

img {
  background: rgba(255,255,255,0.75);
  border: 1px solid #ccc;
  padding: 10px;
  width: 25%;
}
